*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}



#header{
   
    width: 100%;
    height: 102vh;
    background-image: url(./Personal\ img.jpeg);    
    background-size: 60vh;
    background-position: right  ;
    background-repeat: no-repeat;
    justify-self: left;


}




/* .container nav img{
    width: 250px;

    height: 30%;
    
} */
.container .logo-name  {
    font-family: "Agustina Regular";
    font-weight: 900;
    
    font-variant-ligatures: no-common-ligatures;
    
    padding: 0 1px;
    color: rgb(0, 0, 112);
    font-size: larger;
}
.logo{
    color: #868e96;
    text-decoration: none;
    color: rgb(0, 0, 112);
    font-weight: 900;
    font-style: italic;
    
}

.container{
    padding: 25px 4%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 30px;
    position: relative;
    
    }

nav ul li a{
    text-decoration: none;
    font-size: 16px;

}    

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #190170;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    

}

nav ul li a:hover::after{
    width: 100%;
    
}

nav ul li:hover{
    font-weight: bolder
}




.header-text h1{
    margin-top: 10%;
    font-size: 57px;
    color: #1b1717;
    font-weight: 100;
}

.header-text p{
    margin-top: 4%;
    font-size: 30px;
    color: #5d6a76;

}
.btn-cv{
    background: #623fcd;;
    color: #f5f2f4;
    vertical-align: middle;
    align-items: center;
    border-radius: 4px;
    border-color: burlywood;
    display: inline-flex;
    font-size: 1rem;
    height: 2em;
    justify-content: center;
    white-space: nowrap;
    line-height: 1.5;
    margin: 45px 0.5rem 0.5rem 15px;
    padding: 0 0.75em;
    cursor: pointer;
    transition: .2s ease-in;
    text-decoration: none;
    
}
.btn-cv:hover{
    font-weight: 300;
    background-color: #4f1285;
    transform: scale(1.1);

}
/* --------------------ABOUT SECTION---------------------- */
#about{
    padding: 80px   0;

}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 70%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;

}
/* .about-col-2 p{
    color: #5d6a76;
    font-size: 20px;
    margin-top: 15px;
} */
.samecolour{
    color: #5d6a76;
    font-size: 20px;
    margin-top: 15px;

}
.sub-tittle{
    font-size: 50px;
    font-weight: 400;
    color: #1b1717;;

}
.tab-tittle{
    display: flex;
    margin: 30px 0 40px;

}

.tab-links{
    margin-right: 50px;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(233, 106, 68);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links.active-link::after{
width: 50%;
}

.tab-contents ul li{
    color: #5d6a76;
    list-style: none;
    margin: 10px 0;
    font-size: 17px;
    font-weight: 550;
 

}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* ..................MY PROJECT.................. */


.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid: gap 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.work img{
width: 80%;
height: 90%;
border-radius: 20px;
display: block;
transition: transform 0.5s;
}

.work{
    text-align: center;
}
.layer p{
    color: white;    
    font-size: 14px;
    font-weight: 450;
    margin: 25px 10px;
}
.layer h3{
    color: #dbc31c;
    font-weight: 900;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
        text-align: center;
}

.lay p{
    color: white;    
    font-size: 14px;
    font-weight: 450;
    margin: 25px 10px;
}
.lay h3{
    color: #dbc31c;
    font-weight: 900;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
        text-align: center;
}

.btn{
    background:#623fcd;;
    color: #f5f2f4;
    vertical-align: middle;
    align-items: center;
    border-radius: 4px;
    border-color: burlywood;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    white-space: nowrap;
    line-height: 1.5;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0 0.75em;
    cursor: pointer;
    transition: .2s ease-in;
}
.btn:hover{
    font-weight: 700;
   
    background-color: #4f1285;
}

.layer{
    width: 84%;
    height: 0;
    background: linear-gradient( rgba(0,0,0,0.6),#aa4b69);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px ;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;

}

.lay{
    width: 71.6%;
    height: 0;
    background: linear-gradient( rgba(0,0,0,0.6),#aa4b69);
    border-radius: 10px;
    position: absolute;
    left: 16.5%;
    bottom: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px ;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s
}


.work:hover .lay{
    height: 100%;

}


.social-icon a{
   font-size: 2em;
}
/* ......more project........ */
.work-list-1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid: gap 40px;
    margin-top: 50px;
}

.work-list-2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid: gap 40px;
    margin-top: 50px;
}
.work .Bigimg{
    height: 100%;
    width: 65%;
    margin-left: 20%;
}
.sub-tittle2{
    text-align: center;
    align-items: center;
}

/* ...........Contact.......... */
.contact-left p{
margin-top: 30px ;
}

.contact-left p i{
    color: #7f8dda;
    margin-right: 15px;
    font-size: 25px;
}
.social-icon{
    margin-top: 30px
}
.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 30px;
    /* color: rgb(0, 0, 0); */
    display: inline-block;
    transition: transform 0.5s;

}
.social-icon a:hover{
    /* color: #3549bb; */
    transform: translateY(-5px);
}

.git{
    color: #333;
}
.link{
   color:   #0e76a8;
}
.mail{
    color: #ea4335;
}
.insta{
    color: #c13584;
}
.blog{
    color: #4317e4;
}

.vercel-size{

    width: 5vh;
    height: 5vh;
}

 .git:hover{
color: rgb(34, 1, 1);
}

.link:hover{
    color:   #096e9c;
}

.mail:hover{
    color: #db3e30;
}

.insta:hover{
    color: #aa2e74;
}
.blog:hover{
    color: #0b1f92;
} 

.contact-left{
    
    
    margin: auto;
  /* width: 42%; */
  width: 34%;
 
  padding: 14px;
    }

    .account a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 30px;
        /* color: #5d6a76; */
        display: inline-block;
        transition: transform 0.5s;
        margin-left: 30px
    }

 .account a:hover{
        /* color: #3549bb; */
        transform: translateY(-5px);
    }

.copyright{
    width: 100%;
    text-align: center;
    padding: 24px 0;
    font-weight: 300;
    margin-top: 15px;
}    

/* .................css for responsiive................ */
nav .fa-solid{
display: none;
}

@media only screen and (max-width: 600px)
{
    #header{
   
        width: 100%;
        height: 40vh;
        background-image: url(./Personal\ img.jpeg);    
        background-size: 15vh;
        background-position: right  ;
        background-repeat: no-repeat;
        justify-self: left;
      
        background-image: none;
    
    }


    .header-text h1{
        margin-top: 20%;
        font-size: 15px;
        color: #1b1717;
        font-weight: 100;
    }
    
    .header-text p{
        /* margin-top: 4%; */
        font-size: 15px;
        color: #5d6a76;
    
    }

    nav .fa-solid{
        display: block;
        font-size: 15px;
        }
        
    nav ul{
        background: whitesmoke;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

    }
   
 .account{
        font-size: 100%;
        display: none;
    }

    .btn-cv{
        
        /* background: #623fcd;;
        color: #f5f2f4;
        vertical-align: middle;
        align-items: center;
        border-radius: 4px;
        border-color: burlywood;
        display: inline-flex;
        font-size: 1rem;
        height: 2em;
        justify-content: center;
        white-space: nowrap;
        line-height: 1.5;
        margin: 45px 0.5rem 0.5rem 15px;
        padding: 0 0.75em;
        cursor: pointer;
        transition: .2s ease-in;
        text-decoration: none; */
        font-size: 0.8rem;
        height: 1.5em;
    }
    .sub-tittle{
        font-size: 15px;
        margin-left: 38%;
        font-weight: 600;
    }
    .about-col-1 {
        
        flex-basis: 50%;
        margin-left: 25%;
        
        
    }
    

    .about-col-2  p {
        font-size: 14px;
    }

    .contact-left{
        flex-basis: 100%;
    }

    .social-icon .insta{
        display: none;
    }
}